.content-content-p-class {
  word-wrap: normal;
  line-height: 1.8em;
}

#content-page-id {
  width: 1000px;
  margin-left: 50%;
  margin-top: 60px;
  padding-bottom: 60px;
  transform: translate(-50%, 0);
}

#content-title-id {
  font-size: 40px;
  font-weight: bold;
  width: fit-content;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

#content-title-p-id {
  margin: 0;
}

#content-time-id {
  font-size: 16px;
  font-weight: lighter;
  width: fit-content;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

#content-content-id {
  font-size: 22px;
  width: 800px;
  margin-left: 50%;
  transform: translate(-50%, 0);
}
