#content-id {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

#content-div-java-id {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
}

#content-div-cocpp-id {
  position: absolute;
  top: 250px;
  left: 36%;
  transform: translate(-50%, 0);
}

#content-div-asm-id {
  position: absolute;
  top: 280px;
  left: 70%;
  transform: translate(-50%, 0);
}

#content-div-python-id {
  position: absolute;
  top: 360px;
  left: 61%;
  transform: translate(-50%, 0);
}

#content-div-web-id {
  position: absolute;
  top: 400px;
  left: 48%;
  transform: translate(-50%, 0);
}

#content-div-ds-id {
  position: absolute;
  top: 500px;
  left: 33%;
  transform: translate(-50%, 0);
}

#content-div-cs-id {
  position: absolute;
  top: 550px;
  left: 58%;
  transform: translate(-50%, 0);
}

#content-div-linux-id {
  position: absolute;
  top: 600px;
  left: 70%;
  transform: translate(-50%, 0);
}

#content-div-other-id {
  position: absolute;
  top: 700px;
  left: 46%;
  transform: translate(-50%, 0);
}

#box-up {
  width: 100%;
  background-color: white;
}
